@media screen and (max-width: 425px) {
  nav {
    top: auto;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }

  nav .link {
    display: inline-block;
  }

  nav .link:last-child {
    margin-top: 0;
    margin-left: auto;
  }

  nav .link-text {
    display: none;
  }

  nav:hover .link-text {
    display: none;
  }

  main {
    max-height: calc(100% - 5.5rem);
    padding-left: 0;
    margin-bottom: 5.5rem;
  }


  
  .bj-container {
            mask-size: calc(100% - 4rem);
    -webkit-mask-size: calc(100% - 4rem);
  }

  .intro {
    padding: 2vh 4rem;
  }

  .intro-header {
    font-size: 5vh;
    line-height: 5vh;
    -webkit-transform: translateY(calc(3.9vh / 2)) scale(2);
        -ms-transform: translateY(calc(3.9vh / 2)) scale(2);
            transform: translateY(calc(3.9vh / 2)) scale(2);
  }

  .ready:not(.done) .intro-header {
    -webkit-animation: intro_header_anim 1s .3s linear forwards;
            animation: intro_header_anim 1s .3s linear forwards;
  }

  @-webkit-keyframes intro_header_anim {
    30% {
      -webkit-transform: translateY(calc(3.9vh / 2)) scale(1);
              transform: translateY(calc(3.9vh / 2)) scale(1);
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(calc(3.9vh / 2)) scale(1);
              transform: translateY(calc(3.9vh / 2)) scale(1);
      opacity: 1;
    }
    60% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes intro_header_anim {
    30% {
      -webkit-transform: translateY(calc(3.9vh / 2)) scale(1);
              transform: translateY(calc(3.9vh / 2)) scale(1);
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(calc(3.9vh / 2)) scale(1);
              transform: translateY(calc(3.9vh / 2)) scale(1);
      opacity: 1;
    }
    60% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  .slogan {
    margin-top: .5vh;
    padding-top: 1vh;
    font-size: 2.4vh;
    line-height: 2.4vh;
  }

  .slogan span {
    display: none;
  }



  .works-list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-gap: 4rem;
  }



  .polls-list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .polls-load-failed br {
    display: none;
  }

  .achievements:not(.hidden) {
    display: block;
  }

  .achievements-list {
    display: block;
  }
  
  .achievement {
    width: calc(100% - 2rem);
    margin-bottom: 2rem;
  }



  .spoiler-alert br {
    display: none;
  }

  

  .contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .contacts-section .link {
    margin: 0;
    width: 20vw;
  }

  .sources {
    line-height: normal;
  }

  .sources a {
    display: inline-block;
    margin-bottom: .5rem;
    max-width: calc(100vw - 8rem);
    width: 100%;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sources a:last-child {
    margin-bottom: 0;
  }
}